:root {
	/* Primary */
	--primary-color: #303141; /* Dark Blue */
	--secondary-color: #162447; /* Medium Blue */
	--tertiary-color: #37384b; /* Light Blue */
	--accent-color: #39e29d; /* Green */
	--accent-color-hover: #2bca8b; /* Dark Green */
	--light-blue-color: #404a65; /* Light Blue */
	--text-color: #ffffff; /* White */
	--warning-color: #ff0000; /* Red */
	--base-color: #000000; /* Black */
	--radius-default: 6px;

	/* Secondary */
	--main-background-color: var(--primary-color);
	--page-background-color: var(--secondary-color);
	--card-background-color: var(--tertiary-color);

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}

/* CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Eliminar estilos predeterminados de listas */
ul,
ol {
	list-style: none;
}

/* Eliminar estilos predeterminados de enlaces */
a {
	text-decoration: none;
}

/* Eliminar estilos predeterminados de botones */
button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

/* Eliminar estilos predeterminados de formularios */
input,
textarea,
select,
button {
	font: inherit;
	color: inherit;
}

/* Eliminar márgenes predeterminados de elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Evitar desbordamiento de imágenes */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Establecer un tamaño de fuente base y altura de línea */
html {
	font-size: 16px;
	line-height: 1.5;
}

/* Asegurar que los elementos de bloque se comporten correctamente */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Eliminar estilos predeterminados de tablas */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Eliminar estilos predeterminados de elementos incrustados */
iframe,
embed,
object {
	border: 0;
}

/* Asegurar que los elementos de formulario no hereden estilos de fuente */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/* Corregir la alineación de elementos en línea */
button,
input {
	overflow: visible;
}

/* Corregir el estilo de los botones en Firefox */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/* Eliminar el padding interno en Firefox */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/* Corregir el estilo de los campos de número en Chrome */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/* Corregir el estilo de los campos de búsqueda en Chrome */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/* Eliminar el padding interno en Chrome */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* Corregir el estilo de los elementos ocultos */
[hidden] {
	display: none;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--page-background-color);
	color: var(--text-color);
}

/* styles.css */
.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.input-group {
	margin: 20px 0;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, 1fr);

	@media screen and (max-width: 981px) {
		grid-template-columns: 1fr;
	}
}

input {
	padding: 8px;
	margin-left: 10px;
	width: 100px;
	color: var(--base-color);
}

button {
	padding: 10px 20px;
	background: var(--accent-color);
	color: var(--base-color);
	border: none;
	border-radius: var(--radius-default);
	cursor: pointer;
	font-weight: var(--font-weight-medium);
}

button:hover {
	background: var(--accent-color-hover);
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid var(--light-blue-color);
	padding: 12px;
	text-align: center;
	background-color: var(--primary-color);
}

th {
	background-color: var(--card-background-color);
}

.error {
	color: var(--warning-color);
	margin-top: 15px;
	font-weight: bold;
}
